# Add here the pip packages you would like to install on this virtual environment / kernel
pip
huggingface_hub
boto3
joblib
morecantile
huggingface_hub
shapely
geojson
Pillow==9.4.0
datasets
huggingface
openmim
git+https://github.com/NASA-IMPACT/hls-foundation-os.git
